<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/homeStyle.css">
    <title>Home</title>
</head>

<body>
    <header>
        <img class="web-header" src="../Assests/Images/web-header.png" alt="Header">
    </header>
    <div class="SearchClass">
        <hr>
        <input id="searchBox" type="text" placeholder="Search for Songs"></input>
        <button id="searchBtn" type="submit">search</button>
    </div>
    <hr>
    <div class="w3-content">
        <img class="mySlides" src="..\Assests\Images\banner (1).png" alt="custom_html_banner1"
            style="width:100%; height:500px; opacity: 0.5;">
        <img class="mySlides" src="..\Assests\Images\banner (2).png" alt="custom_html_banner2"
            style="width:100%; height:500px; opacity: 0.5;">
        <img class="mySlides" src="..\Assests\Images\banner (3).png" alt="custom_html_banner3"
            style="width:100%; height:500px; opacity: 0.5;">
        <img class="mySlides" src="..\Assests\Images\banner (4).png" alt="custom_html_banner4"
            style="width:100%; height:500px; opacity: 0.5;">
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
    <hr>
    
    <h2 style="color: #b894e7;">TOP RATED </h2>
    <p style="padding: 50px;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="..\Assests\Images\icon (1).jpg" alt="Icon1" style="opacity: 0.9;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="..\Assests\Images\icon (3).jpg" alt="Icon3" Style ="opacity: 0.9;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="..\Assests\Images\icon (4).jpg" alt="Starving" style="opacity: 0.9;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="../Assests/Images/icon(5).jpg" alt="Carry you home" Style ="opacity: 0.9; width: 175px; height: 175px;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="../Assests/Images/icon(6).jpeg" alt="Love me Land" Style ="opacity: 0.9; width: 175px; height: 175px;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="../Assests/Images/icon(7)" alt="Burn" Style ="opacity: 0.9; width: 175px; height: 175px;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="../Assests/Images/icon(8)" alt="On my way" Style ="opacity: 0.9; width: 175px; height: 175px;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="../Assests/Images/icon(9).jpeg" alt="On my way" Style ="opacity: 0.9; width: 175px; height: 175px;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="../Assests/Images/icon(10)" alt="On my way" Style ="opacity: 0.9; width: 175px; height: 175px;">
    <img target-type="queue" parentclass="recent" data-type="addtoqueuefromout" title="Click" src="../Assests/Images/icon(11)" alt="On my way" Style ="opacity: 0.9; width: 175px; height: 175px;">
    </p>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = x.length
            }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>
    <hr>
    <div>
        <h1 style="color: #b894e7; font-weight: 500;">Chartbusters</h1>
        <p id = "feed1">
        <script src="../Scripts/homePage.js"></script>
    </div>
</body>

</html>