@keyframes breath {
    0% {
        background-size: 100% 100%;
    }

    50% {
        background-size: 140% 140%;
    }

    100% {
        background-size: 100% 100%;
    }
}
header {
    padding-left: 30px;
    padding-right: 30px;
}

.web-header {
    width: 100%;
    height: 120px;
}

body {
    font-size: 16rw;
    background-image: url("../Assests/Images/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height: auto;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: breath 20s linear infinite;
    max-width: fit-content;
}

#searchBox {
    border-radius: 25px;
    margin: 10px;
    font-size: 17px;
    font: outline;
    text-align: center;
    color: black;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: rgb(157, 138, 187);
}

#searchBtn {
	margin: 10px;
	background-color: hsl(298, 49%, 75%);
	border-radius: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.SearchClass{
    padding: 5px;
}
#searchBtn{
    padding: 8px;
}
#feed1{
    padding-left: 100px;
    padding-right: 100px;
}
.feed_content{
    padding: 50px;
    align-content: center;
    align-self: center;
}

input,
select {
    border: 1px solid lightgrey;
    padding: 5px;
    display: block;
    width: 95%;
    border-radius: 2px;
}

input.inline {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

.row {
    padding-bottom: 15px;
}

.err {
    font-size: 0.8em;
    color: rgb(249, 253, 0);
}

#btn {
    display: block;
    width: 100%;
    height: 50px;
    border-color: violet;
    background-color: rgb(223, 13, 223);
    margin-top: 15px;
    box-shadow: 0 3px 4px rgb(49, 1, 49);
    font-size: 20px;
    font-weight: 900;
}

#btn:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#ref {
    padding: 10%;
    color: rgb(0, 0, 0);
}

.w3-content {
    position: relative;
    margin-top: 0em;
}

.w3-btn,
.w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-btn,
.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.w3-disabled *,
:disabled * {
    pointer-events: none;
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.w3-content button {
    position: absolute;
    top: 32%;
}

.w3-display-right {
    right: 0;
}

.w3-display-left {
    left: 0;
}
